* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: sans-serif, verdana, sans-seif;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

#bodyqt{
		background-image: url("../images/BGQT.jpg");
		background-size: cover;
}
img {
    width: 200px;
    height: 150px;
}

.main {
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    padding: 10px;
    background-color: white;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
a {
    text-decoration:none;
    color: white;
}


.achtergrond2 {

}
