* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: sans-serif, verdana, sans-seif;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}

#bodyqt{
		background-image: url("../images/BGQT.jpg");
		background-size: cover;
}
img {
    max-width: 200px;
    height: auto;
}

.main {
    width: 1200px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    padding: 10px;
    background-color: white;
}

.content3 {
	margin: 5px;
}

.content2 {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

input, textarea {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
a {
    text-decoration:none;
    color: white;
}

#background {
    background-image: url(images/tennis.jpg);
    background-size: cover;
}
#image {
    padding-left: 20px;
    float: right;
}

#thimo {
	background-image: url(images/zwart.png);
	background-size: cover;
}

#timachtergrond 
{
    background-image: url("../images/bgtim.jpg");
    background-size: cover;
}

#bodyDennis {
  background-image: url("../images/voetbalAchtergrond.jpg");
  background-size: cover;
}

.tekstinhoud {
	float: right;
	width: 350px;
}